<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552005603735-cp6u2cas883vlkqvga8mf4706j1o3768.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552005603735-cp6u2cas883vlkqvga8mf4706j1o3768</string>
	<key>API_KEY</key>
	<string>AIzaSyCcjHgLNvC-ZhO0GtF7Y1TzerBSd4bFb1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>552005603735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darshan.Calamity-Control</string>
	<key>PROJECT_ID</key>
	<string>calamity-control-1478121312942</string>
	<key>STORAGE_BUCKET</key>
	<string>calamity-control-1478121312942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552005603735:ios:1b55f7753b0d0b61</string>
	<key>DATABASE_URL</key>
	<string>https://calamity-control-1478121312942.firebaseio.com</string>
</dict>
</plist>